*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#efefef;
    overflow:hidden;
}

/* MENU */

.menu{
    height:85px;
    background:#0B4DB8;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 60px;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    cursor:pointer;
}

.sol{
    color:#FFD000;
    font-size:35px;
}

.logo h1{
    color:white;
    font-size:28px;
}

.menu ul{
    display:flex;
    list-style:none;
    gap:40px;
}

.menu a{
    color:white;
    text-decoration:none;
    font-size:22px;
}

/* TELAS */

.tela{
    display:none;
    height:calc(100vh - 85px);
}

.ativa{
    display:flex;
    justify-content:center;
    align-items:center;
}

/* HOME */

.container-home{
    width:95%;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:120px;
}

.caixa-principal{
    width:700px;
    background: #e9e9e9;
    padding: 35px;
    border-radius: 25px;
}

.caixa-principal h2{
    font-size: 70px;
    color: #0f51c5;
    line-height: 1.1;
}

.caixa-principal p{
    font-size: 38px;
    font-weight: bold;
    margin-top: 25px;
}

.caixa-menor{
    width: 700px;
    background: #bfd2f5;
    padding: 20px;
    border-radius: 20px;
    margin-top: 25px;
    text-align: center;
}

.caixa-menor h3{
    color: #0f51c5;
    font-size: 22px;
    margin-bottom: 10px;
}

.caixa-menor p{
    font-size: 28px;
}

.lado-direito img{
    width: 750px; /* imagem grandona */
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

/* SOBRE */

.container-sobre{
    width:85%;
    max-width:1350px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
}

.container-sobre img{
    width:520px;
    border-radius:20px;
}

.texto-sobre{
    width:620px;
    background:#ececec;
    padding:35px;
    border-radius:25px;
}

.texto-sobre h2{
    color:#0B4DB8;
    font-size:48px;
    margin-bottom:25px;
}

.texto-sobre p{
    font-size:24px;
    margin-bottom:20px;
}

.texto-sobre button{
    width:100%;
    border:none;
    background:#cdddf7;
    color:#0B4DB8;
    border-radius:30px;
    padding:18px;
    font-size:20px;
}

/* CONTATO */

.container-contato{
    width:85%;
    max-width:1350px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:60px;
}

.formulario{
    width:540px;
    background:#ececec;
    padding:35px;
    border-radius:25px;
}

.formulario h2{
    text-align:center;
    color:#0B4DB8;
    font-size:48px;
    margin-bottom:25px;
}

.formulario label{
    display:block;
    margin-top:15px;
    margin-bottom:8px;
    font-size:22px;
}

.formulario input,
.formulario textarea{
    width:100%;
    padding:18px;
    border-radius:35px;
    border:2px solid black;
    font-size:18px;
}

.formulario textarea{
    height:120px;
    resize:none;
    border-radius:25px;
}

.formulario button{
    width:100%;
    margin-top:20px;
    border:none;
    border-radius:30px;
    background:#0B4DB8;
    color:white;
    padding:18px;
    font-size:20px;
}

.perfil{
    border-left:4px solid #d7e4fa;
    padding-left:40px;
    text-align:center;
}

.perfil img{
    width:340px;
    height:340px;
    object-fit:cover;
    border-radius:20px;
    background:#0B4DB8;
    padding:10px;
}

.perfil p{
    margin-top:20px;
    font-size:24px;
}